/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  :root {
    --primario: #1f527d;
    --secundario: #ec3475;

    --fuentePrincipal: "Yanone Kaffeesatz", sans-serif;
  }

  /* Globales */
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Heebo", sans-serif;
  }
  i {
    color: #cde1d7;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 4.8rem;
  }
  h2 {
    font-size: 4rem;
    line-height: 1.2;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4{
    font-size: 2.8rem;
  }
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
  h2 {
    text-transform: uppercase;
  }
  img {
    max-width: 100%;
  }
  .button {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    display: inline-block;
    background-color: var(--secundario);
    transition: all 0.5s ease;
  }
  .button:hover {
    background-color: #d7df21;
  }
  hr {
    display: none;
  }

  /* Utilidades */
  .container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
  }
  .seccion {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .c-texto {
    text-align: center;
  }
  .m-4rem {
    margin: 4rem 0;
  }

  /*----- Site-header -----*/
  .container-footer-header {
    background-color: var(--secundario);
  }
  .footer-header {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
  @media only screen and (min-width: 768px) {
    .footer-header {
      justify-content: space-between;
    }
  }
  /* navegation - Informacion */
  .footer-header .information {
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
  }
  .footer-header .information a {
    text-decoration: none;
    color: #cde1d7;
  }
  .footer-header .information i {
    margin-right: 0.5rem;
  }
  @media only screen and (min-width: 768px) {
    .footer-header .information {
      flex-direction: row;
    }
    .footer-header .information a {
      margin-right: 1rem;
    }
    .footer-header .information a:last-of-type {
      margin-right: 0;
    }
  }
  /*navegation - Session */
  .footer-header .session {
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    align-items: center;
  }
  .footer-header .session a {
    text-decoration: none;
    color: #cde1d7;
  }
  .footer-header .session i {
    margin-right: 0.5rem;
  }
  @media only screen and (min-width: 768px) {
    .footer-header .session {
      flex-direction: row;
    }
    .footer-header .session a {
      margin-right: 1rem;
    }
    .footer-header .session a:last-of-type {
      margin-right: 0;
    }
  }
  /*navegation 3*/
  .logo {
    padding: 1rem 0;
    text-decoration: none;
    font-size: 3.8rem;
    color: var(--primario);
    font-family: var(--fuentePrincipal); /* 'Heebo', sans-serif; */
    font-weight: bold;
    text-transform: uppercase;
  }
  .navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .navegation__main {
    display: flex;
  }
  .navegation__main a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 0;
    color: #808080;
    font-size: 2rem;
    /*main-bar de Scroll abajo*/
    background-image: linear-gradient(var(--primario), var(--primario));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 0.3rem;
    transition: background-size 3s;
    transition: background-color 0.3s;
  }
  .navegation__main a:hover,
  .navegation__main a:focus {
    /* background-size: 99% .3rem; */
    background-color: rgba(31, 82, 129, 0.5);
    border-radius: 0.2rem;
    /*End*/
  }

  .navegation__main a:last-of-type {
    margin-bottom: 2rem;
  }
  .navegation__mobile {
    width: 4.5rem;
    text-align: right;
    /* margin-top: 1rem; */
  }
  .navegation__mobile span {
    height: 0.8rem;
    margin-bottom: 0.5rem;
    background-color: #363636;
    display: block;
    border-radius: 0.2rem;
  }
  .navegation__mobile:hover {
    cursor: pointer;
  }
  .navegation__main {
    display: none;
    width: 100%;
  }
  @media only screen and (min-width: 768px) {
    .navegation__mobile {
      display: none;
    }
    .logo {
      font-size: 3.8rem;
      padding: 1rem 0;
    }
    .navegation__main {
      display: flex;
      width: auto;
      align-items: center;
    }
    .navegation__main a {
      padding: 0;
      margin-right: 3rem;
      /*main-bar de Scroll abajo*/
      background-image: linear-gradient(var(--primario), var(--primario));
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 0.3rem;
      transition: background-size 0.3s;
    }
    .navegation__main a:hover,
    .navegation__main a:focus {
      background-size: 60% 0.3rem;
      /*End*/
      background-color: inherit;
      border-radius: unset;
    }
    .navegation__main a:last-of-type {
      margin: 0;
    }
  }
  /*----- Hero -----*/
  .hero {
    height: 55rem;
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .container-hero {
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 100%;
  }
  .text-hero {
    font-family: "Rubik", sans-serif;
    font-size: 10rem;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    overflow: auto;
    /* line-height: 1; */
  }
  .text {
    margin: 0;
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    background-color: rgba(255, 0, 108, 0.3);
    text-transform: uppercase;
    padding: 1rem 0;
  }

  /*----- Welcome To -Titutlo- -----*/
  .content-welcome {
    display: grid;
  }
  .imagen-course img {
    /* filter: gray; */
    /* -webkit-filter: grayscale(1); */
    transition: all 0.5s ease-in-out;
  }
  .imagen-course img:hover {
    /* -webkit-filter: grayscale(0); */
    -webkit-transform: scale(1.1);
  }
  .parrafo-welcome {
    width: 95%;
    margin: 0 auto;
    text-align: justify;
  }
  .parrafo-welcome .texto {
    text-align: center;
    margin: 4rem 0;
  }
  .parrafo-welcome .parrafo {
    margin-bottom: 5rem;
  }
  .parrafo-welcome .button {
    width: 100%;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    .content-welcome {
      grid-template-columns: 50% 50%;
      grid-column-gap: 2rem;
    }
    .imagen-course {
      grid-column: 1 / 2;
    }
    .parrafo-welcome {
      grid-column: 2 / 3;
    }
    .parrafo-welcome .parrafo {
      margin-bottom: 2rem;
    }
    .parrafo-welcome .button {
      width: auto;
      text-align: center;
    }
  }
  /*--- AboutMe ---*/
  .about {
    display: grid;
    row-gap: 2rem;
  }
  .icon {
    text-align: center;
    margin: 0 auto;
    font-size: 8rem;
  }
  .icon__mision {
    color: #FCA311;
  }
  
  .about__mision .read {
    display: none;
  }
  
  @media only screen and (min-width: 768px) {
    .about {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }
  }

  /*----- About Index ----- */
  .about-index {
    display: grid;
    row-gap: 2rem;
  }
  .about-index__content {
    padding: 2rem;
    background-color: var(--secundario);
    transition: all .3s ease-in-out;
  }
  .about-index__content:hover {
    transform: scale(1.01);
  }
  .about-index__text {
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    color: #ffffff;;
  }
  @media only screen and (min-width: 768px) {
    .about-index {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
    }
  }

  /*----- Content Contact -----*/
  .images-content {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 40rem;
    display: flex;
    align-items: center;
    text-align: left;
  }
  .content-contact {
    flex: 0 0 95%;
    color: #3b3543;
  }

  /*----- Next Courses -----*/
  .courses__container--next {
    display: grid;
    row-gap: 2rem;
  }
  .course {
    border: 0.1rem solid #b5b5b5;
    background-color: rgb(238, 238, 238);
    padding: 2rem;
    transition: all .5s ease-in-out;
  }
  .course:hover {
    border: 0.1rem solid var(--secundario);
    box-shadow: 0 0 5rem #666666;
    transform: scale(1.01);
  }
  .course__content h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 2rem 0;
  }
  .course__content p {
    text-align: justify;
    font-size: 1.6rem;
    margin-bottom: 4rem;
  }
  .course__content .button {
    width: 100%;
    text-align: center;
    transition: all 0.5s ease;
  }
  @media only screen and (min-width: 768px) {
    .courses__container--next {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
    }
    .course__content .button {
      width: auto;
    }
  }
  /*----- Mapa -----*/
  .mapa {
    width: 100%;
  }

  /*----- Footer -----*/
  .site-footer {
    background-color: #363636;
    padding: 2rem;
  }
  .container-footer p {
    margin: 0;
    text-align: center;
    color: #fff;
  }
  .container-footer .navegation {
    display: none;
  }
  @media only screen and (min-width: 768px) {
    hr {
      display: block;
      width: 90%;
      margin: 0 auto;
    }
    .container-footer {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
    }
    .container-footer .navegation {
      display: block;
      text-align: center;
      margin-bottom: 1rem;
    }
    .container-footer .navegation a {
      color: #fff;
      margin-right: 1rem;
    }
    .container-footer .navegation a:last-of-type {
      margin-right: 0;
    }
    .container-footer p {
      margin-top: 1rem;
      font-size: 2rem;
    }
  }

  /****** Cursos  ******/
  .courses__container {
    display: grid;
    row-gap: 2rem;
  }
  @media only screen and (min-width: 768px) {
    .courses__container {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
    }
  }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
